[submodule "indexa-git/account"]
	path = indexa-git/account
	url = git@github.com:indexa-git/account.git
	branch = 13.0
[submodule "odoo-dominicana/l10n-dominicana"]
	path = odoo-dominicana/l10n-dominicana
	url = git@github.com:odoo-dominicana/l10n-dominicana.git
	branch = 13.0
[submodule "camptocamp/odoo-cloud-platform"]
	path = camptocamp/odoo-cloud-platform
	url = git@github.com:camptocamp/odoo-cloud-platform.git
	branch = 13.0
[submodule "indexa-git/account-bank-charge-import"]
	path = indexa-git/account-bank-charge-import
	url = git@github.com:indexa-git/account-bank-charge-import.git
	branch = 13.0
[submodule "indexa-git/external-service-addons"]
	path = indexa-git/external-service-addons
	url = git@github.com:indexa-git/external-service-addons.git
	branch = 13.0
[submodule "OCA/stock-logistics-warehouse"]
	path = OCA/stock-logistics-warehouse
	url = git@github.com:OCA/stock-logistics-warehouse.git
	branch = 13.0
[submodule "indexa-git/l10n-do-hr"]
	path = indexa-git/l10n-do-hr
	url = git@github.com:indexa-git/l10n-do-hr.git
	branch = 13.0
[submodule "indexa-git/dominican-bank-statement"]
	path = indexa-git/dominican-bank-statement
	url = git@github.com:indexa-git/dominican-bank-statement.git
	branch = 13.0
[submodule "indexa-git/account-payment"]
	path = indexa-git/account-payment
	url = git@github.com:indexa-git/account-payment.git
	branch = 13.0
[submodule "indexa-git/odoo-construction"]
	path = indexa-git/odoo-construction
	url = git@github.com:indexa-git/odoo-construction.git
	branch = 13.0
[submodule "indexa-git/partner-contact"]
	path = indexa-git/partner-contact
	url = git@github.com:indexa-git/partner-contact.git
	branch = 13.0
[submodule "indexa-git/dominicana-premium"]
	path = indexa-git/dominicana-premium
	url = git@github.com:indexa-git/dominicana-premium.git
	branch = 13.0
[submodule "indexa-git/tss_report"]
	path = indexa-git/tss_report
	url = git@github.com:indexa-git/tss_report.git
	branch = 13.0
